
@{
    ViewBag.Title = "GreenDancers";
}

<h2>GreenDancers</h2>
@Html.ActionLink("Return To Home", "Index", "Home")

<table width="100%" border="1">
    <tr><th>Name</th><th>Level</th></tr>
    @foreach(OKSwingMemberList mem in ViewBag.GreenDancers)
    {
        <tr><td>@mem.LastName, @mem.FirstName</td><td>GREEN</td></tr>
    }
</table>

