
@{
    ViewBag.Title = "YellowDancers";
}

<h2>YellowDancers</h2>
@Html.ActionLink("Return To Home", "Index","Home")

<table width="100%" border="1">
    <tr><th>Name</th><th>Level</th></tr>
    @foreach(OKSwingMemberList mem in ViewBag.YellowDancers)
    {
        <tr><td>@mem.LastName, @mem.FirstName</td><td>YELLOW</td></tr>
    }
</table>

