@{
    ViewBag.Title = "About SCCheckIn Version 3";
}
<h2>@ViewBag.Title.</h2>

<p>Swing Club Check In (SCCheckIn) is a Dancer Management Program Created By Volunteer Programmers At The Oklahoma City Swing Dance Club.</p>
<p>The First Version Was a Microsoft Access Database Ran on a Windows 98 Machine by an Unknown Designer.</p>
<p>The Second Version of SCCheckIn Was Created in VB.NET And a SQL Server Database by Erik Thomson Using 2008 Technologies. David Schrock Took Over The Project in 2011 Creating Versions 2.02 Through 2.09.</p>
<p>The Third Version of SCCheckIn, Created by David Schrock, Is the Latest Version of The Program. It Was Created in ASP.NET MVC Version 5 Using Entity Framework With a SQL Server 2016 Database In The C# Language.</p>
