@{
    ViewBag.Title = "Contact The Oklahoma City Swing Dance Club";
}
<h2>@ViewBag.Title.</h2>

<address>
    4361 N.W. 50th Suite 400<br />
    Oklahoma City, OK 73112<br />
    <abbr title="Phone">P:</abbr>
    405.943.1950
</address>

<address>
    <strong>Marketing and Information:</strong> <a href="mailto:swingdanceokc@gmail.com">Email The Club</a>
</address>