@model IEnumerable<SCCheckinV3.OKSwingMemberList>

@{
    ViewBag.Title = "Index";
}
<script>
</script>

<h2>Search Member</h2>
<h3>Enter First Name, Last Name, or Scan Key Tag</h3>
<input class="input-lg" />

